<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<table>
  <thead>
  <tbody>
  <tr th:each="bankAccount : ${bankAccounts}">
    <td th:class="${bankAccount.name == 'Simba'} ? 'King' : ''  " ></td>
    <td th:text="'Index: '" ></td>
    <td th:text="${bankAccountStat.count} " ></td>
    <td th:text="'Name: '" ></td>
    <td th:text="${bankAccount.name}" ></td>
    <td th:text="', '" ></td>
    <td th:text="'balance: '" ></td>
    <td th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)} "></td>
    <td th:text="'animal type: ' "></td>
    <td th:text="${bankAccount.animalType} "></td>
      <tr th:switch="${bankAccount.animalType}" >
        <td th:case="'hyena"></td>
        <td th:text="'Bad guy'"></td>
        <td th:case="*" ></td>
        <td th:text="'Good guy'" ></td>
      </tr>
  </tr>
  </tbody>
  </thead>
</table>
</body>
</html>