<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8"/>
  <title>Programmer Fox Club</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<ul>
  <li><a href="/">Information</a></li>
  <li><a href="/nutritionStore">Nutrition Store</a></li>
  <li><a href="/trickCenter">Trick Center</a></li>
</ul>
<form th:action="@{/addTrick}" th:object="${fox}" method="post">
  <label>Trick</label>
  <select name="Trick">
    <option th:each="trick : ${tricks}" th:value="${trick}" th:text="${trick}"></option>
  </select>
  <button type="submit">Add</button>
</form>
</body>
</html>