<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calorie Counter Program</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Calorie Counter Program</h1>
<a th:href="@{/addEdit}">+ Add new meal</a>
<p>Number of meals: <span th:text="${statistic.mealNumber}" ></span> </p>
<p>Total Calories: <span th:text="${statistic.totalCalories}"></span></p>
<caption>You are what you eat!</caption>
<table>
  <tr>
    <th>ID</th>
    <th>Meal Date</th>
    <th>Type</th>
    <th>Description</th>
    <th>Calories</th>
    <th>Actions</th>
  </tr>
  <tr th:each="meal : ${yourMeals}">
    <td th:text="${meal.id}"></td>
    <td th:text="${meal.mealDate}"></td>
    <td th:text="${meal.type}"></td>
    <td th:text="${meal.description}"></td>
    <td th:text="${meal.calories}"></td>
    <td>
      <a th:href="@{/addEdit(id=${meal.id})}">Edit</a>
      <a th:href="@{/delete(id=${meal.id})}">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>
