<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Todo CRUD app</title>
</head>
<body>
<h1>Todos for today:</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Action</th>
    <th>Done</th>
    <th>Urgent</th>
  </tr>
  <div th:if="${isActive} == 'true'">
    <tr th:each="todo : ${todos}">
      <div th:if="${todo.isDone() == false}">
        <th th:text="${todo.id}"></th>
        <th th:text="${todo.title}"></th>
        <th th:text="${todo.isDone()}"></th>
        <th th:text="${todo.isUrgent()}"></th>
      </div>
    </tr>
  </div>
  <div th:if="${isActive} == 'false'">
    <tr th:each="todo : ${todos}">
      <th th:text="${todo.id}"></th>
      <th th:text="${todo.title}"></th>
      <th th:text="${todo.isUrgent()}"></th>
      <th th:text="${todo.isDone()}"></th>
    </tr>
  </div>
</table>
</body>
</html>