<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ToDO Week-08 day-02</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Todos for today:</h1>
<table border="1">
    <th>ID</th>
    <th>ACTION</th>
    <th>DONE</th>
    <th>URGENT</th>
    <tr th:each="todo :${todos}">
      <td th:text="${todo.id}"></td>
      <td th:text="${todo.title}"></td>
      <td th:text="#{messages.${todo.isDone}}"></td>
      <td th:text="#{messages.${todo.isDone}}"></td>
    </tr>
</table>
</body>
</html>
